asgiref==3.4.1
astroid==2.4.2
backports.entry-points-selectable==1.1.0
certifi==2021.10.8
charset-normalizer==2.0.7
distlib==0.3.3
Django==3.2.8
django-appconf==1.0.5
django-bourbon==3.1.8
django-compressor==2.4.1
django-environ==0.8.1
django-sass-processor==1.1
docopt==0.6.2
environ==1.0
filelock==3.3.1
idna==3.3
isort==5.6.4
Jinja2==2.11.3
lazy-object-proxy==1.4.3
libsass==0.21.0
MarkupSafe==1.1.1
mccabe==0.6.1
pdoc==6.3.1
pipreqs==0.4.10
platformdirs==2.4.0
Pygments==2.8.0
pylint==2.6.0
pytz==2021.3
rcssmin==1.0.6
requests==2.26.0
rjsmin==1.1.0
six==1.16.0
sqlparse==0.4.2
toml==0.10.2
urllib3==1.26.7
virtualenv==20.9.0
wrapt==1.12.1
yapf==0.30.0
yarg==0.1.9
